body{
    text-align: center;
    background-color: white;
}
/* div{
    height: 200px;
    width: 50%;
    border: 2px solid black;
    margin: 100px;
} */

/* #btn{
    height: 50px;
    width: 50px;
} */